@using Restaurant_Project.Models.Entity
@model List<Tbl_Onerilerimiz>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Önerilen Menüler</h2>



<div class="card-body table-full-width table-responsive">
    <table class="table table-hover">
        <thead>
        <th style="width: 15%;">Resim</th>
        <th style="width: 20%;">Ad</th>
        <th style="width: 20%;">içerik</th>
        <th style="width: 40%;">Açıklama</th>
        <th style="width: 15%;">Güncelle</th>


        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.Resim_Adres" alt="Avatar" style="border-radius: 10px; max-width: 150px; height: auto;">
                    </td>
                    <td>@item.Baslik</td>
                    <td>@item.Aciklama2</td>
                    <td>@item.Aciklama1</td>
                    <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#@item.ID">Güncelle</button></td>
                    
                    <div class="modal fade" id="@item.ID" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Ürün Bilgisi Düzenleme Sayfası</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="/OnerilenMenu/OneriGuncelle/@item.ID">
                                        <div class="modal-body">
                                            <label>Başlık</label>
                                            <input type="text" name="Baslik" class="form-control" value="@item.Baslik">
                                            <label>Resim URL</label>
                                            <input type="text" name="Resim_Adres" class="form-control" value="@item.Resim_Adres">
                                            <label>İçerik</label>
                                            <input type="text" name="Aciklama2" class="form-control" value="@item.Aciklama2">

                                            <label>Açıklama</label>
                                            <textarea class="form-control" name="Aciklama1" rows="15" style="  height: 150px;">@item.Aciklama1</textarea>



                                        </div>
                                        <br />
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-warning">Güncelle</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            }
        </tbody>
    </table>
</div>
  