@using Restaurant_Project.Models.Entity
@model List<Tbl_Onerilerimiz>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Önerilen Menüler</h2>



<div class="card-body table-full-width table-responsive">
    <table class="table table-hover">
        <thead>
        <th style="width: 15%;">Resim</th>
        <th style="width: 30%;">Ad</th>
        <th style="width: 20%;">Telefon</th>
        <th style="width: 15%;">Kişi Sayısı</th>
        <th style="width: 40%;">Rezervasyon Detayları</th>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Aciklama1</td>
                    <td>@item.Aciklama2</td>
               

                    <td>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.ID">Detay</button>
                        <div class="modal fade" id="@item.ID" role="dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Ürün Bilgisi Düzenleme Sayfası</h4>

                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Alt Başlık</label>
                                                    <input type="text" class="form-control" name="@item.ID" value="@item.ID">

                                                </div>
                                            </div>
                                            <br />
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Fiyat</label>
                                                    <input type="text" class="form-control" name="@item.ID" value="@item.ID">

                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Resim URL</label>
                                                    <input type="text" class="form-control" name="@item.ID" value="@item.ID">

                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <button class="btn btn-success">Güncelle</button>
                                    </form>
                                </div>

                            </div>
                        </div>

                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
    </div>
</div>


