@model Restaurant_Project.Models.Entity.Tbl_Hakkimda
@{
    ViewBag.Title = "HakkimizdaDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Hakkımızda Bilgileri Güncelleme Paneli</h2>
<br />

<form method="post">
    @Html.Label("Deneyim ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", disabled = false })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label("Madde")
    @Html.TextBoxFor(x => x.Madde, new { @class = "form-control"})
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Resim URL")
    @Html.TextBoxFor(x => x.Resim_Link, new { @class = "form-control" })
    <br />
    <div class="text-center"><button type="submit" class="btn btn-success">Güncelle</button></div>
</form>