@using Restaurant_Project.Models.Entity
@model List<Tbl_Giris>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Restaurantly</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Restaurantly/assets/img/icons.png" rel="icon">
    <link href="~/Restaurantly/assets/img/icons.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Restaurantly/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Restaurantly/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/Restaurantly/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Restaurantly/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Restaurantly/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Restaurantly/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/Restaurantly/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/light-bootstrap-dashboard-master/assets/css/demo.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/Restaurantly/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Restaurantly - v3.1.0
    * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-cente">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a href="/Default/Index">Restaurantly</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Giriş</a></li>
                    <li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>
                    <li><a class="nav-link scrollto" href="#why-us">Neden Biz</a></li>
                    <li><a class="nav-link scrollto" href="#menu">Menü</a></li>
                    <li><a class="nav-link scrollto" href="#testimonials">Önerilerimiz</a></li>
                    <li><a class="nav-link scrollto" href="#gallery">Galeri</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Rezervasyon</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <a></a>

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    @foreach (var item in Model)
                    {


                        <h1>Welcome to <span>@item.Baslik</span></h1>
                        <h2>@item.AltBilgi</h2>
                    }
                    <div class="btns">
                        <a href="#menu" class="btn-menu animated fadeInUp scrollto">Menüye Göz At</a>
                        <a href="#contact" class="btn-book animated fadeInUp scrollto">Rezervasyon</a>
                    </div>
                </div>


            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Hakkımızda</h2>
                    <p>Biz Kimiz ?</p>
                </div>
                @Html.Action("Hakkimda")

            </div>
        </section><!-- End About Section -->
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Neden Biz ?</h2>
                    <p>Neden Bizi Tercih Etmelisiniz ?</p>
                </div>

                @Html.Action("NedenBiz")

            </div>
        </section><!-- End Why Us Section -->
        <!-- ======= Menu Section ======= -->
        <section id="menu" class="menu section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>MENÜ</h2>
                    <p>Menümüze Göz Atın</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="menu-flters">
                            <li data-filter=".filter-anayemek">Ana Yemekler</li>
                            <li data-filter=".filter-salata">Salatalar</li>
                            <li data-filter=".filter-icecek">İçecekler</li>
                            <li data-filter=".filter-tatli">Tatlılar</li>
                        </ul>
                    </div>
                </div>

                @Html.Action("Menu")

            </div>
        </section><!-- End Menu Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Önerilerimiz</h2>
                    <p>Sizin İçin Önerdiklerimiz</p>
                </div>

                @Html.Action("Oneriler")

            </div>
        </section><!-- End Testimonials Section -->
        <!-- ======= Book A Table Section ======= -->
        <!-- End Book A Table Section -->
        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">

            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Galeri</h2>
                    <p>İşletmemize Ait Fotoğraflar</p>
                </div>
            </div>

            <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

                <div class="row g-0">


                    @Html.Action("Resimler")

                </div>

            </div>
        </section><!-- End Gallery Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <p style="text-align: center;">Rezervasyon</p>
                </div>
            </div>



            <div class="container" data-aos="fade-up">

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Adres</h4>
                                <p>Başkent Mahallesi. Mithat Paşa Caddesi. No:23  Yenimahalle /Ankara  </p>
                            </div>

                            <div class="open-hours">
                                <i class="bi bi-clock"></i>
                                <h4>Çalışma Saatleri</h4>
                                <p>
                                    Haftanın Her Günü<br>
                                    09:00 - 23:00
                                </p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>E-Mail</h4>
                                <p>info@restaurantly.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Telefon</h4>
                                <p>+90 123 456 78 90</p>
                            </div>

                        </div>

                    </div>

                    @Html.Action("Rezervasyon")

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container">

            <div class="copyright">
                &copy; 2023 <strong><span></span></strong>
            </div>

            <div class="credits">
                Tüm Hakları Saklıdır.

            </div>

        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/Restaurantly/assets/vendor/aos/aos.js"></script>
    <script src="/Restaurantly/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Restaurantly/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/Restaurantly/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/Restaurantly/assets/vendor/php-email-form/validate.js"></script>
    <script src="/Restaurantly/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/Restaurantly/assets/js/main.js"></script>

</body>

</html>