@model List<Restaurant_Project.Models.Entity.Tbl_Menu_Yemekler>
@{
    ViewBag.Title = "IndexFilter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Menü Listesi</h3>
<br />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <select id="filtre" class="form-control" onchange="filterMenu()">
                    <option value="tum" selected>Tümü</option>
                    <option value="icecek">İçecekler</option>
                    <option value="anayemek">Ana Yemekler</option>
                    <option value="salata">Salata</option>
                    <option value="tatli">Tatlılar</option>
                </select>
                <br />
            </div>
            <div class="col-md-12">
                <div class="card card-plain table-plain-bg">
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>

                            <th style="width: 15%;">Ürün Resmi</th>
                            <th style="width: 20%;">Ürüm Adı</th>
                            <th style="width: 30%;">Açıklama</th>
                            <th style="width: 10%;">Fiyatı</th>
                            <th style="width: 10%;">Kategorisi</th>
                            <th style="width: 10%;">Güncelle</th>
                            <th style="width: 10%;">Sil</th>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="@item.ResimLink" alt="Avatar" style="border-radius: 50px; max-width: 50px; height: auto;">
                                        </td>
                                        <td>@item.Baslik</td>
                                        <td>@item.Aciklama</td>
                                        <td>@item.Fiyat</td>
                                        <td>@item.Filtre</td>
                                        <td>
                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#@item.ID">Güncelle</button>
                                            <div class="modal fade" id="@item.ID" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4>Ürün Bilgisi Düzenleme Sayfası</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post" action="/Menu/MenuGuncelle/@item.ID">
                                                                <div class="modal-body">
                                                                    <label>Başlık</label>
                                                                    <input type="text" name="Baslik" class="form-control" value="@item.Baslik">
                                                                    <label>Fiyat</label>
                                                                    <input type="text" name="Fiyat" class="form-control" value="@item.Fiyat">
                                                                    <label>Resim URL</label>
                                                                    <input type="text" name="ResimLink" class="form-control" value="@item.ResimLink">
                                                                    <label>Açıklama</label>
                                                                    <textarea class="form-control" name="Aciklama" rows="5">@item.Aciklama</textarea>
                                                                </div>
                                                                <br />
                                                                <div class="text-center">
                                                                    <button type="submit" class="btn btn-success">Güncelle</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td><a href="/Menu/MenuSil/@item.ID" class="btn btn-danger btn-sm">Sil</a></td>
                                        <td></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <script>
                function filterMenu() {
                    var selectedValue = document.getElementById("filtre").value;

                    if (selectedValue === "tum") {
                        window.location.href = "/Menu/Index";
                    } else {
                        window.location.href = "/Menu/IndexFilter?filtre=" + selectedValue;
                    }
                }

            </script>

        </div>
            </div>
        </div>
