@using Restaurant_Project.Models.Entity
@model List<Tbl_Menu_Yemekler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">
    <div class="container-fluid"></div>
    <div class="row"></div>
    <div class="col-md-4"></div>
    <div class="col-md-12"></div>
    <div class="card card-plain table-plain-bg">
        <div class="card-header">
            <h4 class="card-title">Gelen Kutusu📩</h4>
            <br />
        </div>
        <div class="card-body table-full-width table-responsive">
            <table class="table table-hover">
                <thead>

                <th style="width: 15%;">Ürün Resmi</th>
                <th style="width: 20%;">Ürüm Adı</th>
                <th style="width: 30%;">Açıklama</th>
                <th style="width: 10%;">Fiyatı</th>
                <th style="width: 10%;">Güncelle</th>
                <th style="width: 10%;">Sil</th>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                <img src="@item.ResimLink" alt="Avatar" style="border-radius: 50px; max-width: 50px; height: auto;">
                            </td>


                            <td>@item.Baslik</td>
                            <td>@item.Aciklama</td>
                            <td>@item.Fiyat</td>

                            <td>

                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#@item.ID">Güncelle</button>

                                <div class="modal fade" id="@item.ID" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4>Ürün Bilgisi Düzenleme Sayfası</h4>

                                            </div>
                                            <div class="modal-body">
                                                <form method="post">
                                                    <div class="row">
                                                        
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Alt Başlık</label>
                                                                <input type="text" class="form-control" name="@item.Aciklama" value="@item.Aciklama">

                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Fiyat</label>
                                                                <input type="text" class="form-control" name="@item.Fiyat" value="@item.Fiyat">

                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Resim URL</label>
                                                                <input type="text" class="form-control" name="@item.ResimLink" value="@item.ResimLink">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                   <a href="/Menu/MenuGuncelle/@item.ID" class="btn btn-success">Güncelle</a>
                                                </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td><a href="/Menu/MenuSil/@item.ID" class="btn btn-danger btn-sm">Sil  </a></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>