@model Restaurant_Project.Models.Entity.Tbl_Giris

@{
    ViewBag.Title = "GirisDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3> Giriş Güncelleme Sayfası</h3>
<br />
<form method="post">
    @Html.Label("Deneyim ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", disabled = true })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label("Gano")
    @Html.TextBoxFor(x => x.AltBilgi, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>
